{% extends 'movies/base.html' %}
<style>
    .section2 {
        text-align: center;
        background-color: black;
    }
    .movbar {
        border: 1px solid #264b5d;
    }
</style>
{% block main %}
<div class="main">
    <section class="main-content p-5 mt-5">
        <div>
            <form action="{% url 'movies:createUser' %}" style="padding-right: 20px" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-info" style="float: right" type="submit"> ADD USER </button>
            </form>
        </div>
        {% if user_list %}
        <div class="d-flex flex-column">
            {% for users in user_list %}
            <div class="row border p-3 m-3">
                <div class="col-sm-9 m-3 p-2">
                    <a href="{{ users.id }}">
                        <h4 class="card-title text-light">{{ users.username }}</h4>
                    </a>
                    <p class=" text-light">{{ users.firstName }}</p>
                    <p class=" text-light">{{ users.lastName }}</p>
                    <p class=" text-light">{{ users.email }}</p>
                </div>
                <div class="col m-3 p-2">
                    <form action="{% url 'movies:edit_user' %}" class="pt-3" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-info" type="submit">EDIT</button>
                        <input type="hidden" id="edit" name="edit" value="{{ users.id }}">
                    </form>
                    <form action="{% url 'movies:deleteUser' %}" class="pt-3" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-info" type="submit">Delete</button>
                        <input type="hidden" id="delete" name="delete" value="{{ users.id }}">
                    </form>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

</div>
{% endblock %}
