{% extends 'movies/base.html' %}
{% load static %}
    <div>
        {% block main %}
            <div class="d-flex flex-column p-5" style="padding: 100px 20px; background-color: black; color: whitesmoke">

                <div class="pt-5" style="margin-top: 100px;">
                    <table>
                        <tbody>
                            <tr>
                              <td>First Name</td>
                              <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                              <td>Last Name</td>
                              <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                              <td>UserName</td>
                              <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                              <td>Email Address</td>
                              <td>{{ user.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pb-5 flex-fill row" style="width: 20%">
                    <div class="col">
                        <form action="{% url 'movies:edit_user' %}" class="pt-3" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-info" type="submit">EDIT</button>
                            <input type="hidden" id="edit" name="edit" value="{{ users.id }}">
                        </form>
                    </div>
                    <div class="col">
                        <form action="{% url 'movies:deleteUser' %}" class="pt-3" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-info" type="submit">Delete</button>
                            <input type="hidden" id="delete" name="delete" value="{{ users.id }}">
                        </form>
                    </div>
                </div>

            </div>
        {% endblock %}
    </div>

